extends ../layout/layout

block vars
  - var pageTitle='About Page'
  - var pageDescription = 'about page'
  - var pageKeywords = 'about page, template'
  //- - var pageUrl = 'https://full-link-to-your.page' //- when needed
  //- - var imgUrl = 'link/to/img.type' //- when needed
  //- - var locale = 'ru' //- when needed

block content
  h1 About Page
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolorum unde voluptatum ex dolores fuga molestias nobis porro magnam fugit? Culpa placeat vero, impedit vel officiis non veritatis eos vitae voluptas quo, minus veniam dolore aut neque dicta animi suscipit. Error optio debitis esse perspiciatis cupiditate vel quidem nam sint?