{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },

  "extends": [
    //"airbnb-base",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "strict": "off",
    "indent": [2, 2, {
      "VariableDeclarator": {
        "var": 2,
        "let": 2,
        "const": 3
      }
    }],
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "semi": ["error", "never"]
  },
  "globals": {
    "document": false
  }
}