.container
  //- <h1>Contact Address</h1><br>
  .row.text-center
    .tel.box
      a(href='tel:+12345678900') 
        h5
          i.fa.fa-phone.fa-3x(aria-hidden='true')
        h3 Телефон
        p +1 (234) 567-89-00
      a(href='tel:+98765432100') 
        p +9 (876) 543-21-00 
    .addr.box
      a(href='https://yandex.ru/maps/', target='_blank')
        h5
          i.fa.fa-home.fa-3x(aria-hidden='true')
        h3 Address
        p Street, 00, of. 000

    .email.box
      a(href='mailto:info@example.com')
        h5
          i.fas.fa-paper-plane.fa-3x(aria-hidden='true')
        h3 E-mail
        p info@example.com

    .website.box
      a(href='https://example.com')
        h5
          i.fa.fa-leaf.fa-3x(aria-hidden='true')
        h3 Website
        p www.example.com

