// =====================================================
// Part specific
// =====================================================
// Typography
$fontFamily = Ubuntu, Helvetica, Arial, sans-serif
$fontColor = $colorSoft1
$fontSize = 10px
$fontWeight = 400
$lineHeight = 1.5
// =====================================================
// Media
$xw = 3060px
$wd = 2560px // Wide
$xl = 1920px
$lg = 1200px // Large
$ml = 992px // Medium large
$md = 768px // Medium
$ms = 640px
$sm = 480px // Small
$xs = 320px
// =====================================================
// Colors
$colorBlue0 = #060c21
$colorBlue1 = rgba(49, 24, 131, 0.9)
$colorBlue11 = #311883a9 // rgba(49, 24, 131, 0.9)
$colorBlue2 = #444ce0
$colorBlue3 = #006eff
$colorBlue4 = #569af3
//
$colorGreen1 = #2b9325
$colorGreen2 = #46b241
$colorGreen3 = #14c821
$colorGreen4 = #26de81
//
$colorGrey1 = #555
$colorGrey2 = #979797
$colorGrey3 = #fafafa
//
$colorPink1 = #eb648c
$colorPink2 = #ce587b
$colorPink3 = #ff00bf
//
$colorPurple0 = #5e188a
$colorPurple1 = rgba(72, 56, 149, 0.8)
$colorPurple2 = #4838958a // rgba(72, 56, 149, 0.8)
$colorPurple3 = #8854d0
//
$colorRed0 = #c30f30
$colorRed1 = #e64a19
$colorRed2 = #ff0057
$colorRed3 = #fc5c65
//
$colorOrange1 = #ff7b00
//
$colorYellow1 = #fdcb2b
$colorYellow2 = #fed330
$colorYellow3 = #fcda41
//
$colorWhite = white
// Soft (neutral) colors
$colorSoft0 = #303133
$colorSoft1 = #313233
$colorSoft2 = #606266
$colorSoft3 = #909399
$colorSoft4 = #c0c4cc
$colorSoft5 = #d7d4ed
// Light colors
$colorLight0 = #dcdfe6
$colorLight1 = #e4e7ed
$colorLight2 = #ebeef5
$colorLight3 = #f2f6fc
// Dark colors
$colorDark0 = rgba(15, 15, 15, 0.9)
$colorDark1 = rgba(25, 25, 25, 0.85)
$colorDark2 = rgba(35, 35, 35, 0.8)
$colorDark3 = rgba(45, 45, 45, 0.75)