footer
  ul
    li.footer 
      a(href="/") Site Map
    li.footer 
      a(href="#") Designed by
    li.footer 
      a(href="#") Facebook
    li.footer 
      a(href="#") LinkedIn
    li.footer 
      a(href="#") YouTube
  .caption
    | Site Name (c) Year