header
  nav
    ul
      li 
        a(href="/") Home
      li 
        a(href="/pages/about.html") Mission
      li 
        a(href="#") Info
      li 
        a(href="#") Reviews
      li 
        a(href="#") Contact Us
