footer
  //- include parts/address
  ul.sn-links
    li
      a(href="/") Site Map

    li
      a(href='https://www.instagram.com/'+ instagram, target='_blank')
        i.fab.fa-instagram-square.fa-2x(aria-hidden='true')
    li
      a(href='https://www.facebook.com/' + facebook, target='_blank')
        i.fab.fa-facebook.fa-2x(aria-hidden='true')
    li
      a(href='https://vk.com/' + vk, target='_blank')
        i.fab.fa-vk.fa-2x(aria-hidden='true')
    li 
      a(href='https://www.youtube.com/' + ytChannel, target='_blank')
        i.fab.fa-youtube.fa-2x(aria-hidden='true')
    li 
      a(href='https://www.linkedin.com/' + linkedIn, target='_blank')
        i.fab.fa-linkedin.fa-2x(aria-hidden='true')
  .caption
    span Designed by 
    a(href="#") #{author} 
    span  | #{siteName} (c) 
    span #{since} - 
    span#year Year