header

block nav
  include parts/nav
block address
  include parts/address

  //- nav
  //-   ul
  //-     li 
  //-       a(href="/") Home
  //-     li 
  //-       a(href="/pages/about.html") About
  //-     li 
  //-       a(href="#") Info
  //-     li 
  //-       a(href="#") Services
  //-     li 
  //-       a(href="#") Contact
