extends layout/layout

block vars
  - var pageTitle='Main Page'
  - var pageDescription = 'main page'
  - var pageKeywords = 'main page, template'
  //- - var pageUrl = 'https://full-link-to-your.page' //- when needed
  //- - var imgUrl = 'link/to/img.type' //- when needed
  //- - var locale = 'ru' //- when needed

block content
  include layout/main
