include ./mixins/section
include ./mixins/article
-var mainTitle = 'Gulp 4 Template'

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //link(href="/css/libs.min.css" rel="stylesheet")
    //link(href="/css/sass.css" rel="stylesheet")
    //link(href="/css/scss.css" rel="stylesheet")
    link(href="/css/app.css" rel="stylesheet")
    title #{mainTitle}
  body
    block header
      include parts/header
    block content
    block footer
      include parts/footer
    block scripts
      script(src='/js/app.min.js')
