
html, body
  font-family $fontFamily
  color $fontColor
  font-size $fontSize
  font-weight $fontWeight
  line-height $lineHeight
body, input, textarea, button
  font-family 'El Messiri', sans-serif
  text-align center

h1
  font-size 2rem
h2
  font-size 1.7rem
h3
  font-size 1.45rem
h4
  font-size 1.3rem
h5
  font-size 1.15rem
p,li,em, b, a
  font-size 1rem

h1,h2,h3,h4,h5,p
  margin 0

h2, h3
  margin 1em 0
a,a:hover
  text-decoration none

.container
  max-width 90vw
  margin 0 auto

.iconcards
  font-size 2rem
