@media (min-width $xs)
  html
    font-size: $fontSize*1.4
@media (min-width $sm)
  html
    font-size: $fontSize*1.6
@media (min-width $ms)
  html
    font-size: $fontSize*1.65
@media (min-width $md)
  html
    font-size: $fontSize*1.7
@media (min-width $ml)
  html
    font-size: $fontSize*1.75
@media (min-width $lg)
  html
    font-size: $fontSize*1.85
@media (min-width $xl)
  html
    font-size: $fontSize*2
@media (min-width $wd)
  html
    font-size: $fontSize*2.2
@media (min-width $xw)
  html
    font-size: $fontSize*2.75
@media (min-width 1440px)
  .container
    width 1410px
@media (min-width $xl)
  .container
    width 1800px
@media (min-width $wd)
  .container
    width 2400px


// ===========================
// Header
// ===========================
// 
// ===========================
// Navbar
// ===========================

// @media (max-width $ml)
//   .navlinks
//     height 100vh
//     position fixed
//     top 0
//     right 0
//     left 0
//     z-index 10
//     flex-direction column
//     justify-content center
//     align-items center
//     background #000
//     transition top 1s ease
//     display none
//     a  
//       border none 
//       font-size 2rem

//     a:hover
//       background alpha($colorGrey3, .05)
//       color $colorRed0
//       font-size 1.6rem


//     .icons 
//       display inline-block
//       i
//         padding 1.2rem

//     .closeMenu
//       display block
//       position absolute
//       top 1rem
//       right 1rem

//   .openMenu
//     display block




// ===========================
// Hero
// ===========================
// 
// ===========================
// Section 1
// ===========================
//
// ===========================
// Section 2
// ===========================
//
// ===========================
//  Section 3
// ===========================
// 
// ===========================
// Footer
// ===========================
// @media (max-width $md)
//   .footer
//     flex-direction: column
//   .card-about
//     flex-flow: column