@import 'utils/reset'
@import 'utils/variables'
@import 'utils/mixins'
@import 'utils/fonts'

html
  font-family $fontFamily
  color $fontColor
  font-size $fontSize
  font-weight $fontWeight
  line-height $lineHeight
